body {
  background: url('assets/wonderland-bg.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
  color: #39ff14;
  text-align: center;
  margin: 0;
  padding: 0;
}
body {
  background: black;
  color: #00ffcc;
  font-family: 'Courier New', Courier, monospace;
  padding: 3rem;
  border-radius: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  margin: auto;
  text-align: center
}

.glow {
  color: #fff;
  text-shadow: 1px 1px 10px #39ff14, 1px 1px 10px #fff;
  font-size: 20px;
  text-align: center;
  overflow-wrap: break-word;
}

.container {
  margin-top: 20%;
  background: rgba(0, 0, 0, 0.75);
  padding: 3rem;
  border-radius: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 15px #39ff14;
  max-width: 800px;
  margin: auto;
  display: block;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.invisible-container {
  margin-top: 10%;
  background: rgba(0, 0, 0, 0.75);
  padding: 3rem;
  border-radius: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  margin: auto;
}



/* .start-button {
  background-color: transparent;
  border: 2px solid #39ff14;
  padding: 10px 20px;
  color: #39ff14;
  font-size: 1.2rem;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  transition: 0.3s;
  display:'flex';
  justify-content: 'space-between';

}

.start-button:hover {
  background-color: #39ff14;
  color: black;
  cursor: pointer;
} */

.language-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: 2px solid #39ff14;
  padding: 5px 7px;
  color: #39ff14;
  font-size: 0.75rem;
  text-decoration: none;
  transition: 0.3s;
  font-family: 'Courier New', monospace;

}

.language-button:hover {
  background-color: #39ff14;
  color: black;
  cursor: pointer;
}




img {
  display: block;
  margin: 2rem auto;
  max-width: 300px;
}

.terminal-hint {
  background-color: #111;
  padding: 1rem;
  border: 1px solid #0f0;
  margin-top: 1rem;
  color: #ff0;
  opacity: 0;
}

a c {
  color: #0ff;
  text-decoration: none;
}

.navigation-button {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  /* Forces a minimum physical gap between buttons */
  flex-wrap: wrap;
  /* Prevents overlap if the screen gets too narrow */
}

.nav-button {
  flex-direction: row;     
  justify-content: space-between;    
  background-color: transparent;
  border: 2px solid #39ff14;
  padding: 10px 20px;
  color: #39ff14;
  font-size: 1.2rem;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  transition: 0.3s;
  text-align: center
}

.nav-button:hover {
  background-color: #39ff14;
  color: black;
  cursor: pointer;
}